.App {
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-top: 20px;
  height: 100vh;
}

h1{
  margin: 0;
}

button{
  margin: 20px 0;
  cursor: pointer;
}

.photo-container{
  width: 70%;
  max-width: 950px;
  margin: 0 auto;
  color: black;
}

.photo-container img{
  max-width: 100%;
}

.photo-info{
  font-size: 10px;
  text-align: left;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.author{
  display: flex;
}

.url{
  width:65%;
  display: block;
}

.copyright{
  width: 35%;
  text-align: right;
}

.dark-mode{
  background-color: #292929;
  color: white;
}